@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=cyrillic');
@import 'slick-slider-styles.scss';

//font-family: 'Play', sans-serif;

$colorLightGrey: #f8f8f8;
$colorGray: #c0c0c0;
$colorRed: #f5112c;

@mixin bigButton {
  display: inline-block;
  padding: .5rem 1rem;
  min-height: 2rem;
  min-width: 12rem;
  background-color: $colorRed;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2rem;
  text-align: center;
  &:hover {
    box-shadow: 0 2px 0.5rem lighten($colorRed, 20);
  }
  &:active {
    background-color: darken($colorRed, 20);
  }
}


html {
  font: 400 16px 'Play', sans-serif;

  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
  @media screen and (max-width: 575px) {
    font-size: 10px;
  }

  h2 {
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 10px;

    &:after {
      content: '';
      font-size: 14rem;
      color: $colorGray;
      position: absolute;
      top: -4.8rem;
      right: -1rem;
      z-index: -1;
    }

    strong {
      color: $colorRed;
    }
  }


  h3 {
    font-size: 2rem;
    font-weight: 700;
    color: $colorRed;
  }

  h4 {
    font-weight: 700;
  }

  //.section-padding {
  //  padding: 5rem 15px;
  //}
}


#header {
  .navbar-brand {
    font-size: 50px;
    font-weight: 700;
    color: $colorRed;
  }

  .navbar-collapse {
    justify-content: flex-end;

    .navbar-nav {
      align-items: center;
      font-size: 1.2rem;

      .nav-item {
        margin-left: 2rem;
      }

      address {
        margin: 0;
      }

      .callme {
        @include bigButton();
        font-size: 1rem;
      }
    }
  }
}

.section-hero {
  height: 80vh;
  background: url("../img/bg-english.png") no-repeat/contain;
  @media screen and (max-width: 767px) {
    padding: 0;
  }

  .container {
    background: url("../img/bg-bus.png") no-repeat/contain;
    @media screen and (max-width: 1199px) {
      background-position: left center;
      background-size: 60%;
    }
    @media screen and (max-width: 767px) {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 100%), url("../img/bg-bus.png") top center no-repeat;
      background-size: cover;
    }
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .content-wrapper {
      max-width: 40%;
      @media screen and (max-width: 767px) {
        max-width: 80%;
        margin: 0 auto;
      }

      h2 {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      a {
        @include bigButton;
      }
    }
  }
}

.for-bg-top {
  background: url("../img/bg-round-top.png") no-repeat bottom/contain;
  height: 387px;
}

.for-bg-bot {
  background: url("../img/bg-round-bot.png") no-repeat top/contain;
  height: 382px;
}

.section-situations {
  background-color: $colorLightGrey;

  h2 {
    max-width: 360px;
    //position: relative;

    &:after {
      content: '?';
      //font-size: 14rem;
      //color: $colorGray;
      //position: absolute;
      //top: -4.8rem;
      //right: -1rem;
      //z-index: 0;
    }
  }

  .reason {
    .reason-text-wrapper {
      margin-top: 1rem;
      max-width: 26%;

      h3 {
        font-size: 4rem;
      }
    }

    img {
      width: 470px;
    }
  }

  .right {
    float: right;
    text-align: right;
    margin-left: 1rem;
  }

  .left {
    float: left;
    text-align: left;
    margin-right: 1rem;
  }
}

.section-solutions {
  padding: 7rem 15px;
  background: url("../img/bg-photographer.png") center right no-repeat;

  h2 {
    max-width: 360px;
    margin-bottom: 6rem;

    &:after {
      content: '!';
    }
  }

  .solution {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-right: 2rem;

    p {
      border-top: 1px solid $colorRed;
    }
  }
}

.section-teachers {
  padding: 2rem 15px;

  h2 {
    margin-bottom: 3rem;
  }

  .card {
    margin-bottom: 2rem;
  }
}

$grid-breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
        sm: 1,
        md: 2,
        lg: 3
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}

.section-price {
  padding: 8rem 15px;
  background: url("../img/bg-bigben.png") no-repeat left center/contain;

  .price-wrapper {
    width: 750px;
    float: right;
    strong {
      color: $colorRed;
    }

    .week {
      vertical-align: top;
      box-sizing: border-box;
      width: 49%;
      display: inline-block;
    }
  }
}