@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=cyrillic');
@import 'slick-slider-styles.scss';

//font-family: 'Play', sans-serif;

$colorLightGrey: #dddddd;
$colorGray: #c0c0c0;
$colorRed: #f5112c;

@mixin bigButton() {
  display: inline-block;
  min-height: 2rem;
  min-width: 12rem;
  background-color: $colorRed;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2rem;
  text-align: center;
  &:hover {
    box-shadow: 0 2px 0.5rem lighten($colorRed, 20);
  }
  &:active {
    background-color: darken($colorRed, 20);
  }
}


html {
  font: 400 16px 'Play', sans-serif;

  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
  @media screen and (max-width: 575px) {
    font-size: 10px;
  }

  .section-padding {
    padding: 5rem 15px;
  }
}


#header {
  .navbar-brand {
    font-size: 50px;
    font-weight: 700;
    color: $colorRed;
  }
  .navbar-collapse {
    justify-content: flex-end;
    .navbar-nav {
      align-items: center;
      font-size: 1.2rem;
      .nav-item {
        margin-left: 2rem;
      }
      address {
        margin: 0;
      }
      .callme {
        @include bigButton();
        font-size: 1rem;
      }
    }
  }
}