$colorRed: #f5112c;
$colorGray: #f0f0f0;
// ***** styles for slick dots *********
.slick-dots {
  position: absolute;
  width: 100%;
  bottom: -3rem;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  background-color: $colorGray;
  line-height: 8px;
  font-size: 0;
  border-radius: 6px;



  li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 20%;
    padding: 0;
    cursor: pointer;

    button {
      border-radius: 6px;

      border: none;
      //border-radius: 50%;
      background-color: transparent;
      display: block;
      height: 100%;
      width: 100%;
      outline: none;
      line-height: 0;
      font-size: 0;
      padding: 0;
      cursor: pointer;
      vertical-align: top;

      &:hover {
        outline: $colorRed;
        background-color: lighten($colorRed, 30);
      }
    }

    &.slick-active button {
      background-color: $colorRed;
      opacity: 1;
      box-shadow: 0 2px 0.5rem lighten($colorRed, 20);
      transition: 1s;
    }
  }
}

// ***** styles for slick arrows *********
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 10;

  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;

    &:before {
      opacity: 1;
      text-shadow: 0 0 5px #F50049;
    }
  }

  &.slick-disabled:before {
    opacity: 0.3;
  }

  &:before {
    font: 40px/1 'Playfair Display', sans-serif;
    color: #F50049;
    opacity: 0.7;
  }
}

.slick-prev {
  left: 50px;
  @media screen and (max-width: 1280px) {
    left: 15px;
  }

  &:before {
    content: '<';
  }
}

.slick-next {
  right: 50px;
  @media screen and (max-width: 1280px) {
    right: 15px;
  }

  &:before {
    content: '>';
  }
}